extends layout
block content
  h1.page-header register
  p Please login using the form below
  .container.d-flex.justify-content-center.align-items-center 
   form.col-md-6(method="post",action="/users/login")
        .form-group
          label(for='inputEmail4') Email
          input#inputEmail4.form-control(type='email', placeholder='Email' name="username")
        .form-group
          label(for='inputPassword4') Password
          input#inputPassword4.form-control(type='password', placeholder='Password' name="password")    
        button.btn.btn-primary(type='submit') Login
